<h1>Sign Up</h1>

<% if @user && @user.invalid? %>
<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<form class="register" action="/users" method="post">
  <label for="email">Email</label>
  <input type="email" id="email" name="user[email]" required>
  <label for="passsword">Passsword</label>
  <input type="password" id="passsword" name="user[password]" required>
  <label for="confirm-password">Passsword Confirmation</label>
  <input type="password" id="confirm-password" name="user[password_confirmation]" required>
  <input type="submit" name="submit" value="submit">
</form>
