<h1>Sign Up</h1>

<form class="register" action="/users" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" required>
  <label for="passsword">Passsword</label>
  <input type="password" name="password" required>
  <input type="submit" name="submit" value="submit">
</form>
