<form class="login" action="/users" method="post">
  <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
  <% if @user && @user.invalid? %>
  <!-- Display form errors -->
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="user[email]" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="user[password]" id="inputPassword" class="form-control my-3" placeholder="Password" required>
  <label for="confirmPassword" class="sr-only">Confirmation Password</label>
  <input type="password" name="user[password_confirmation]" id="confirmPassword" class="form-control" placeholder="Confirmation Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>

<p class="text-center mt-3">Already have an account? <a href="/login">Login</a></p>
