<h1>List of Projects</h1>

<% @projects.each do |project| %>
<ul class="project">
  <li><%= project.name%></li>
  <li><%= project.description%></li>
  <li><%= project.created_at%></li>
  <li><%= project.updated_at%></li>
</ul>
<% end %>

<div>
  <a href="/projects/new">Add new project</a>
</div>
