<h1>List of Projects</h1>

<% @projects.each do |project| %>
<ul class="project">
  <li><a href="/project/<%= project.id%>"><%= project.name%></a></li>
</ul>
<% end %>

<div>
  <a href="/projects/new">Add new project</a>
</div>
