<% if @project.nil? %>
  <p class="tex-tecter">Project does not exist...</p>
<% else %>
<form id="delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
</form>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @project.name %></h5>
    <p class="card-text"><%= @project.description %></p>
    <a href="/projects" class="card-link">Back to Projects</a>
    <a href="/projects/<%= @project.id %>/edit" class="card-link">Update</a>
    <button type="submit" class="btn btn-primary" form="delete" formaction="/projects/<%= @project.id %>/delete" name="delete">Delete</button>
  </div>
</div>
<% end %>
